<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkers</title>
    <link rel="stylesheet" href="https://checkers-game-cs399.s3.amazonaws.com/static/styles.css" />


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
</head>
<body>
    <div class="container">
        <div class="next-player counter">
            <div class="occupied whitePiece" id="next-player"></div>
            Player
        </div>
        <div class="game" id="game"></div>
        <div class="counter">
            <div>
                <div class="occupied whitePiece"></div>
                <span id="white-player-count-pieces">10</span>
            </div>
            <div>
                <div class="occupied blackPiece"></div>
                <span id="black-player-count-pieces">10</span>
            </div>
        </div>
    </div>

    <div id="easyModal" class="modal">
        <div class="modal-content">
            <div class="modal-body">
                <p>The <strong id="winner"></strong> player won the game !!</p>
                <p><span id="loser"></span>, would you take your revenge ???</p>
                <div class="btn-container">
                    <button class="btn" onclick="location.reload()">Yes</button>
                    <button class="btn" onclick="modalClose()">No</button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <label for="jsonFile">Choose a JSON file:</label>
        <select id="jsonFile">
            <option value="checkersboard.json">Checkers Board</option>
            <option value="inplay.json">In Play</option>
        </select>
        <button onclick="loadSelectedJson()">Load</button>
    </div>

    <script src="https://checkers-game-cs399.s3.amazonaws.com/static/function.js"></script>
    <script src="https://checkers-game-cs399.s3.amazonaws.com/static/function.js"></script>
        <script>
        $(function(){
            var checkerboard = [];
            $.getJSON("checkersboard.json", function(data){
                checkerboard = data.board;
                renderBoard(checkerboard);
            });
        });
    
        function renderBoard(board) {
            const game = document.getElementById("game");
            game.innerHTML = "";
            for (let i = 0; i < board.length; i++) {
                const row = document.createElement("div");
                row.className = "row";
                for (let j = 0; j < board[i].length; j++) {
                    const col = document.createElement("div");
                    col.className = "square " + (board[i][j] === -1 ? "black" : "white");
                    if (board[i][j] !== 0) {
                        const piece = document.createElement("div");
                        piece.className = "piece " + (board[i][j] === 1 ? "player1" : "player2");
                        col.appendChild(piece);
                    }
                    row.appendChild(col);
                }
                game.appendChild(row);
            }
        }
    </script>
    <!-- <script src="https://checkers-game-cs399.s3.amazonaws.com/static/script.js"></script> -->
    <script>
        const socket = io();

        socket.on('game_update', function(data) {
            // Update the game board with the new game state
            updateGameBoard(data);
        });

        function updateGameBoard(gameState) {
            // Logic to update the game board UI based on the new game state
            console.log("Game state updated:", gameState);
            // Here you would render the new game state on the board
        }
    </script>
</body>
</html>
