<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkers</title>
    <link rel="stylesheet" href="../static/style.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
</head>
<body>
    <div class="container">
        <div class="next-player counter">
            <div class="occupied whitePiece" id="next-player"></div>
            Player
        </div>

        <pre>{{ board | tojson }}</pre>

        <div class="game" id="game">
            {% for row in board %}
                <div class="row">
                    {% for tile in row %}
                        <div class="cell 
                        {% if tile == -1 %} black
                        {% elif tile == 1 %} white
                        {% else %} empty
                        {% endif %}">
                            {% if tile == -1 %}
                                <div class="occupied blackPiece"></div>
                            {% elif tile == 1 %}
                                <div class="occupied whitePiece"></div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="counter">
            <div>
                <div class="occupied whitePiece"></div>
                <span id="white-player-count-pieces">20</span>
            </div>
            <div>
                <div class="occupied blackPiece"></div>
                <span id="black-player-count-pieces">20</span>
            </div>
        </div>
    </div>

    <div id="easyModal" class="modal">
        <div class="modal-content">
            <div class="modal-body">
                <p>The <strong id="winner"></strong> player won the game !!</p>
                <p><span id="loser"></span>, would you take your revenge ???</p>
                <div class="btn-container">
                    <button class="btn" onclick="location.reload()">Yes</button>
                    <button class="btn" onclick="modalClose()">No</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <script>
        //listen for updates from server
        const socket = io();

        socket.on('game_update', (data) => {
            //updating board state and rebuilding UI
            console.log("Received game update", data); //debug
            board = data.board;
            currentPlayer = data.currentPlayer;
            buildBoard();
        });
    </script> -->

    <script>
        const fetchBoard = async () => {
            try{
                const response = await fetch('http://<YOUR-ELASTIC-IP>:8080/getBoard');
                const data = await response.json();
                const board = JSON.parse(data.board); //parse the board string to JSON
                console.log("Loaded Board:", board);
                //update UI with the fetched board
                buildBoard(board);
            } catch (error) {
                console.error("Error fetching board:", error);
            }
        };

        //call fetchBoard when page loads
        document.addEventListener("DOMContentLoaded", fetchBoard);
    </script>

    <script src="../static/function.js"></script>
</body>
</html>